@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
@import "util/variables";
@import "util/placeholders";
@import "util/mixins";

body {
  background-color: $dark-blue;
  color: $white;
}

.card-container {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.card {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(28vh, auto);
  background-color: $desaturated-blue;
  border-radius: 10px;
  max-height: 95vh;
}

.card-img {
  grid-column: 1;
  grid-row: 1;
  border-radius: 10px 10px 0 0;
  background-image: url(./../images/image-header-mobile.jpg);
  background-color: hsl(277, 45%, 45%);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}

.card-main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 4vh;
  h1 {
    width: 80%;
    @extend %inter-700;
    font-size: 3.2vh;
    margin: 0;
    margin-bottom: .4vh;
    span {
      color: $soft-violet;
    }
  }

  p {
    width: 75%;
    color: $transparent-white1;
    @extend %inter-400;
    font-size: 1.85vh;
    line-height: 1.5;
    margin-bottom: 4.5vh;
  }
}

.stats {
  h2 {
    margin: 0;
    @extend %inter-700;
    font-size: 2.8vh;
    margin-bottom: 1vh;
  }

  h3 {
    margin: 0;
    @extend %inter-400;
    color: $transparent-white2;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
    margin-bottom: 3.5vh;
  }
}

.attribution {
  @extend %inter-400;
  font-size: 1.5vh;
  margin-top: 1vh;
  text-align: center;

  a {
    color: $soft-violet;
  }
}

@media screen and (max-height: 600px) {
  .card {
    grid-auto-rows: minmax(25vh, auto);
  }

  .card-main {
    h1 {
      font-size: 3.4vh;
    }
    p {
      font-size: 2vh;
    }
  }

  .stats {
    h2 {
      font-size: 3vh;
    }

    h3 {
      font-size: 1.6vh;
    }
  }
}

@media screen and (min-width: 700px) {
  .card-container {
    width: 80%;
  }

  .card {
    grid-template-columns: 52% 48%;
    grid-template-rows: 30vw;
    max-height: 100vh;
    margin-bottom: 1vw;
  }

  .card-img {
    grid-column: 2;
    border-radius: 0 10px 10px 0;
  }

  .card-main {
    margin: 0;
    margin-left: 13%;
    align-items: flex-start;
    text-align: left;
    height: auto;
    position: relative;
    margin-top: 4.8vw;

    h1 {
      font-size: 2.5vw;
      width: 85%;
      margin-bottom: .9vw;
    }

    p {
      font-size: 1.04vw;
      width: 68%;
      margin-bottom: 5vw;
      line-height: 1.7vw;
    }
  }

  .card-stats {
    display: flex;
    justify-content: space-between;
    width: 68%;

    h2 {
      font-size: 1.7vw;
      margin-bottom: .6vw;
    }

    h3 {
      font-size: .9vw;
      margin-bottom: 0;
    }
  }

  .attribution {
    font-size: 15px;
  }
}
