%inter-400 {
  font : {
    family: Inter, sans-serif;
    weight: 400;
  }
}

%inter-700 {
  font : {
    family: Inter, sans-serif;
    weight: 700;
  }
}

%lexend-deca {
  font: {
    family: Lexend-Deca, sans-serif;
    weight: 400;
  }
}
